//************* SLAIDER ***************
slide
	.carousel.slide#carousel
		.carousel-inner
			.item.active
				img(src="../img/Bg.png" alt="")
			.item
				img(src="../img/Bg.png" alt="")
			.item
				img(src="../img/Bg.png" alt="")
		a.left.carousel-control(href="#carousel" data-slide="prev")
			span.glyphicon.glyphicon-chevron-left
		a.right.carousel-control(href="#carousel" data-slide="next")
			span.glyphicon.glyphicon-chevron-right
	include /blocks/text_header/text_header.jade
//************* END SLAIDER ***************