doctype html
html
	head
		title Page 01-01
		include /pages/_head.jade
	body
		main
			include /blocks/header/header.jade
			include /blocks/slide/slide.jade
			//include /blocks/text_header/text_header.jade
			//include /blocks/button1/button.jade
			//include /blocks/button2/button2.jade
			//include /blocks/vkladki/vkladki.jade
			//include /blocks/akkord/akkord.jade
		//-include /blocks/footer/footer.jade
		include /pages/_foot.jade
