meta(charset="utf-8")
meta(http-equiv="X-UA-Compatible" content="IE=edge")
meta(name="viewport" content="width=device-width, initial-scale=1")
link(href='../app/vendor/bootstrap/bootstrap.css', type="text/css", rel="stylesheet")
link(href='../app/style.css', type="text/css", rel="stylesheet")
link(href='../app/media.css', type="text/css", rel="stylesheet")
link(href='../font/font-awesome.css' type="text/css" rel="stylesheet")
