//************* HEADER ***************
.navbar-wrapper
	.container
		.navbar.navbar-default.navbar-static-top
			.container
				.navbar-header
					button(type="button" data-toggle="collapse" data-target=".navbar-collapse").navbar-toggle
						span.sr-only Навигация
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="#") 
						img(src="../img/logo.png")
				.navbar-collapse.collapse
					ul.nav.navbar-nav
						li: a(href="#") BLOG
						li: a(href="#") NEWS
						li: a(href="#") GALLERY			
						li: a(href="#") PRICE
						li: a(href="#") SERVICES
						li: a(href="#") SCHEDULE
						li: a(href="#") CONTACTS
		
//************* END HEADER ***************							
