.navbar-wrapper 
	position:absolute
	top:0
	right:0
	left:0
	z-index:20
	
.navbar-wrapper > .container
	padding-right:0
	padding-left:0

.navbar-wrapper .navbar
	padding-left:15px
	padding-right:15px

.navbar-wrapper .navbar .container
	width:auto
	
.nav.navbar-nav
	float:right
	
.navbar-header
	margin-top: -11px
	
.nav.navbar-nav li a:hover
	border-left: 2px solid black
	border-right: 1px solid black
	