doctype html
head
	meta(http-equiv="content-type" content="text/html; charset=utf-8")
	title Линки страниц
	link(rel="stylesheet" type="text/css" href="app/vendor/bootstrap/bootstrap.css")
	style(type="text/css").
		b {padding-right: 20px}
		b.padd {padding-right: 7px}
		hr {margin-top: 10px; margin-bottom: 10px}
		h2 {text-align: center}
		ul {margin: 0 auto 50px; width: 600px}
body
	.container
		h2 Я есть ГРУТ: Pages
		ul
			li: a(href="pages/blocks.html") Структура блоков проекта
			hr
			li: a(href="pages/01-01.html") <b>01-01</b> Главная - Главная страница
			