//HEADER
//-------------------------------
@media (min-width: 768px)
	.navbar-wrapper
		margin-top: 30px
	.navbar-wrapper .container
		padding-right:15px
		padding-left:15px
	.navbar-wrapper .navbar
		padding-left:0
		padding-right:0
	.navbar-wrapper .navbar
		border-radius:10px
@media (max-width: 993px)	
	.navbar-header
		margin-left: 35% !important
	.nav.navbar-nav
		float:left
		margin-left:50px

@media (max-width: 768px)	
	.nav.navbar-nav
		float:none
		font-size:12px
	.navbar-header
		margin-left: 0 !important